h1 {
  font-size: 50;
  color: #44535e;
  font-family: Montserrat;
}
p {
  font-size: 18px;
  color: #000000;
  font-family: Cabin;
}
img {
  display: inline;
}
body {
  background-color: #FFFFF0;
}
nav {
  font-size: 25;
  font-family: Cabin;
  display: inline;
  color: #4682B4;
  border: solid #44535E;
}
