h1 {
  font-size: 50;
  color: #44535e;
  font-family: Montserrat;
}
p {
  font-size: 18px;
  color: #000000;
  font-family: Cabin;
}
img {
  display: inline;
}
body {
  background-color: #FFFFF0;
}

header {
  background: #4682b4;
}



nav {
  float:right;
}
