h1 {
  font-size: 50;
  color: #44535e;
  font-family: Montserrat;
}

body {
  margin: 0;
  background-color: #FFFFF0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

h1 {
  float: left;
}

header {
  background: #4682b4;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block
}
