* {
    margin: 0;
    padding: 0;
}
.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 100px;
}
.container {
    text-align: center;
}
.players {
    margin-top: 100px;
    text-align: center;
}
#y {
    cursor: pointer;
}
#n {
    cursor: pointer;
    margin-top: 20px;
}
.entryForm {
    text-align: center;
    grid-column: 1/2;
}
.other {
    grid-column: 2/3;
}
.activePlayers {
    margin-left: 100px;
    text-align: left;
}