.screen-container {
    width: calc(100% - 100px);
    height: 100%;
    background-color: #09131C;
    border-radius: 20px;
    opacity: 1;
    background-image:  repeating-radial-gradient( circle at center left, transparent 0, #09131C 90px ), 
    repeating-linear-gradient( #5C887F55, #5C887F );
}

.flex {
    display: flex;
}