* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #444760;
    color: #d1bfb0;
}

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statblock {
    width: 80%;
    height: 50vh;
    padding: 5;
    background-color: #423952;
}

.properties {
    width: 90%;
    height: 40vh;
    background-color: #7a9c96;
}

.card {
    background-color: #7a9c96;
    color: #392b35;
}