*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.split {
    display: grid;
    grid-template-columns: 30% auto;
}
.left {
    height: 100vh;
    grid-column: 1/2;
    text-align: center;
}
.right {
    height: 100vh;
    grid-column: 2/3;
    background-color: darkcyan;
}
h2 {
    padding: 30px;
}
.tabs {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tabs button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tabs button:hover {
    background-color: #ddd;
}
.tabs button.active {
    background-color: #ccc;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
td {
    width: 50px;
    height: 50px;
}
