* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E6D7C7;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.book {
    position: relative;
    width: 500px;
    height: 600px;
    transition: transform 1.5s;
}

.open-book {
    opacity: 0;
    width: 500px;
    height: 600px;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    perspective: 1500px;
}

.front, .back {
    background-color: #f4f4f4;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 1.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
}

.back {
    z-index: 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content {
    transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}

i {
    font-size: 50px;
    color: gray;
}

/* Paper stack order */
#p1 {
    z-index: 3;
}

#p2 {
    z-index: 2;
}

#p3 {
    z-index: 1;
}

#prev-btn {
    display: none;
}
#front-cover-back {
    outline: 5px solid black;
}
#b3 {
    outline: 5px solid black;
}
.next-corner {
    position: absolute;
    width: 50px;
    height: 100%;
    right: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 1000;
}
.prev-corner {
    position: relative;
    width: 50px;
    height: 100%;
    left: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 1000;
}
.middle-line {
    height: 100%;
    width: 10px;
    top: 0;
    left: -5px;
    background-color: #f4f4f4;
    opacity: 0;
    position: absolute;
    z-index: 1000;
    transition: 1s;
}