a {
    text-decoration: none !important;
}

.btn-body {
    height: 80px;
    width: 80px;
    border-radius: 20px;
    color: #09131C;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5px auto;
    transition: all 0.3s ease;
    background-color: rgba(193, 71, 54, 0.0);
}

.btn-body.active {
    background-color: rgba(193, 71, 54, 1);
    color: #E7E2CC;
    transform: scale(1.05);
}

.btn-body:hover {
    color: #19354D;
}

.btn-title {
    margin: 4px auto;
    font-weight: 600;
    font-size: 14px;
}