* {
  /* This ensures that padding will not be factored into the calculation of spacing */
  box-sizing: border-box;
}
body {
  background-color: #606D5D;
  font-family: 'Press Start 2P', cursive;
}
.wrapper {
  position: relative;
  display: inline-block;
  top: 0%;
  left: 50%;
  transform: translate(-50%,5%);
}
.fa-arrow-left {
  position: absolute;
  top: 3.5%;
  right: 2%;
  font-size: 30px;
  line-height: 60px;
  color: #FFFFF0;
  transition: .6s;
}
.fa-arrow-left:hover {
  transform: translate(-10px, 0);
  color: #CC5500;
}
.healthBars {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px;
}
.playerHealth {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border-top: 4px solid #F1F1F1;
  border-left: 4px solid #F1F1F1;
  border-bottom: 4px solid #F1F1F1;
}
.playerBackgroundHealth {
  background-color: #8C001A;
  height: 30px;
  width: 100%;
}
.playerActiveHealth {
  background-color: #63836E;
  position: absolute;
  /* ensures that the background to the health bar takes up the full size of the parent div */
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}
.timer {
  background-color: #232523;
  color: #F1F1F1;
  height: 60px;
  width: 100px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #F1F1F1;
}
.enemyHealth {
  position: relative;
  width: 100%;
  border-top: 4px solid #F1F1F1;
  border-right: 4px solid #F1F1F1;
  border-bottom: 4px solid #F1F1F1;
}
.enemyBackgroundHealth {
  background-color: #8C001A;
  height: 30px;
}
.enemyActiveHealth {
  background-color: #63836E;
  position: absolute;
  /* ensures that the background to the health bar takes up the full size of the parent div */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.endingText {
  position: absolute;
  color: white;
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
