.poll {
    width: 450px;
    padding: 1.5rem;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin:auto;
    margin-top: 15%;
}

.poll__title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.poll__option:hover {
    cursor: pointer;
}

/** adds spacing between every option that is not last option **/
.poll__option:not(:last-child) {
    margin-bottom: 0.5rem;
}

/** js will be adding selected tag toggle color **/
.poll__option--selected .poll__option-fill {
    background: #009578; 
}

.poll__option--selected .poll__option-info {
    font-weight: bold; 
}


.poll__option-fill {
    width: 50%; /** will be changed via js **/
    height: 10px;
    background: #dddddd;
}

.poll__option-info {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    font-size: 0.85rem;
}
.poll__percentage {
    float: right;
}