@font-face {
    font-family: "Avenir";
        src: local("Avenir"),
            url("../fonts/Avenir.otf") format("opentype");
}

@font-face {
    font-family: "AvenirBold";
        src: local("AvenirBold"),
            url("../fonts/AvenirBold.otf") format("opentype");
}

@font-face {
    font-family: "GothamBold";
        src: local("GothamBold"),
            url("../fonts/GothamBold.ttf") format("truetype");
}

@font-face {
    font-family: "GothamLight";
        src: local("GotahmLight"),
            url("../fonts/GothamLight.ttf") format("truetype");
}

@font-face {
    font-family: "GothamMedium";
        src: local("GothamMedium"),
            url("../fonts/GothamMedium.ttf");
}

@font-face {
    font-family: "GothamMedium_1";
        src: local("GothamMedium_1"),
            url("../fonts/GothamMedium_1.ttf");
}