* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #FFEAD6;
}

h1, h2, h3, h4 {
  font-family: 'Abril Fatface', cursive;
  color: #40434E;
}
h1 {
  font-size: 70px;
  z-index: 5;
}
p {
  font-family: 'Roboto Slab', serif;
  color: #40434E;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.filler {
  text-align: center;
}
.fillerBot {
  height: 45rem;
}
.full-scroll {
  width: 100%;
  display: flex;
  justify-content: center;
}
.full-scroll .scroll-section figure.sticky {
  position: sticky;
  width: 100%;
  top: 35vh;
}
.full-scroll .step {
  padding: 0;
  max-width: 30rem;
  margin: 0 auto;
  position: relative;
  min-height: 67vh;
  margin-bottom: 1rem;
}
.full-scroll .step p {
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-weight: 400;
  background-color: #5b5b5b;
  transition: background-color 250ms ease-in-out;
  color: #f4f4f4;
}

.blankOfBlankBook {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.blankAndBlankBook {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.theAdjNounBook {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.oneWordBook {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.theOneWordBook {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.library {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
#blue {
  cursor: pointer;
}
#red {
  cursor: pointer;
}
#green {
  cursor: pointer;
}
#yellow {
  cursor: pointer;
}
#purple {
  cursor: pointer;
}

.book {
  position: relative;
  width: 500px;
  height: 600px;
  transition: transform 1.5s;
}

.open-book {
  opacity: 0;
  width: 500px;
  height: 600px;
}

.paper {
  position: absolute;
  width: 100%;
  height: 100%;
  perspective: 1500px;
}

.front, .back {
  background-color: #F6F0E0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left;
  transition: transform 1.5s;
}

.front {
  z-index: 1;
  backface-visibility: hidden;
}

.back {
  z-index: 0;
}

.front-content,
.back-content {
  width: 100%;
  height: 100%;
}

.back-content {
  transform: rotateY(180deg)
}

.flipped .front,
.flipped .back {
  transform: rotateY(-180deg);
}

i {
  font-size: 50px;
  color: gray;
}

#p1 {
  z-index: 3;
}

#p2 {
  z-index: 2;
}

#p3 {
  z-index: 1;
}

#prev-btn {
  display: none;
}
#front-cover-back {
  outline: 5px solid #444B6E;
}
#b3 {
  outline: 5px solid #444B6E;
}
.next-corner {
  position: absolute;
  width: 50px;
  height: 100%;
  right: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 1000;
}
.prev-corner {
  position: relative;
  width: 50px;
  height: 100%;
  left: 0;
  bottom: 0;
  cursor: pointer;
  z-index: 1000;
}
.middle-line {
  height: 100%;
  width: 10px;
  top: 0;
  left: -5px;
  background-color: #F6F0E0;
  opacity: 0;
  position: absolute;
  z-index: 1000;
  transition: 1s;
}
#sticky-text {
  padding: 0;
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
}
.typewriter {
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  font-size: 20px;
  color: #40434E;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .10em;
}
.animate {
  animation: typing 2.5s steps(58, end)
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
.center {
  text-align: center;
}

#f1 {
  background-color: #444B6E;
  outline: 2px solid #444B6E;
}

#f1 h3 {
  color: #F6F0E0;
  font-size: 40px;
  padding-top: 100px;
  text-align: center;
}
#f2 h3 {
  text-align: center;
  font-size: 25px;
  padding-top: 15px;
}
#backButton{
  position: absolute;
  right: 2%;
  font-size: 30px;
  line-height: 60px;
  transition: .3s;
  cursor: pointer;
  transform: translate(0px, -250px);
  display: none;
}
#backButton:hover {
  transform: translate(-10px, -250px);
}