.filler {
  height: 20rem;
  text-align: center;
}
.full-scroll {
  width: 100%;
  display: flex;
  justify-content: center;
}
.full-scroll .scroll-section figure.sticky {
  position: sticky;
  width: 100%;
  top: 25vh;
}
.full-scroll .step {
  padding: 0;
  max-width: 30rem;
  margin: 0 auto;
  position: relative;
  min-height: 67vh;
  margin-bottom: 1rem;
}
.full-scroll .step p {
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-weight: 400;
  background-color: #5b5b5b;
  transition: background-color 250ms ease-in-out;
  color: #f4f4f4;
}


