* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #364958;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.isometric-room {
    display: flex;
    height: 100%;
    width: 40%;
    justify-content: center;
    align-items: center;
}

#room {
    width: 550px;
}

#webDev {
    cursor: pointer;
}

#gameDev {
    cursor: pointer;
}

#dataStorytelling {
    cursor: pointer;
}

#jukebox {
    cursor: pointer;
}

.left {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.details {
    width: 85%;
    display: flex;
    flex-direction: column;
    background-color: #C5D3CA;
    color: #27353F;
    border-radius: 8px;
}

.data-container, .jukebox-container, .gameDev-container, .webDev-container {
    display: none;
}

.details h2,h4,p {
    padding: 5px;
}

.icon {
    width: 50px;
    height: 50px;
    padding: 5px;
}
.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}