* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #E6D7C7;
}
#top-section {
  padding-top: 5em;
}
h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  color: #2A3D45;
}
#credits {
  font-style: italic;
}
h1 {
  font-size: 50px;
}
p {
  font-family: 'Cabin', sans-serif;
  padding: 0.25em;
  color: #2A3D45;
}
.filler {
  height: 20rem;
  text-align: center;
}
.fillerBot {
  padding-top: 100px;
  height: 45rem;
}
.full-scroll {
  width: 100%;
  display: flex;
  justify-content: center;
}
.full-scroll .scroll-section figure.sticky {
  position: sticky;
  width: 100%;
  top: 25vh;
}
.full-scroll .step {
  padding: 0;
  max-width: 30rem;
  margin: 0 auto;
  position: relative;
  min-height: 67vh;
  margin-bottom: 1rem;
}
.full-scroll .step p {
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-weight: 400;
  background-color: #5b5b5b;
  transition: background-color 250ms ease-in-out;
  color: #f4f4f4;
}
.book {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 90%;
  perspective: 70rem;
}
.cover {
  right: 0;
  background-color: #36354e;
  width: 50%;
  height: 100%;
}
.page {
  top: 0.25rem;
  left: 50%;
  background-color: #e9e6c4;
  width: 49%;
  height: 98%;
  color: #777;
}
.cover, .page {
  position: absolute;
  padding: 1rem;
  transform-origin: 0 0;
  border-radius: 5px 0 0 5px;
  box-shadow: inset 3px 0px 20px rgba(0, 0, 0, 0.2),
    0px 0px 15px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.cover.turn {
  animation: bookCover 3s forwards;
}
.page.turn {
  animation: bookOpen 3s forwards;
}
.page:nth-of-type(1) {
  animation-delay: 0.05s;
}
.page:nth-of-type(2) {
  animation-delay: 0.15s
}
.page:nth-of-type(3) {
  animation-delay: 0.25s;
}
.page:nth-of-type(4) {
  animation-delay: 0.35s;
}
.page:nth-of-type(5) {
  animation-delay: 0.43s
}
.page:nth-of-type(6) {
  animation-delay: 0.66s;
}
@keyframes bookOpen {
  30% { z-index: 999 }
  100% {  transform: rotateY(-180deg);
    z-index: 999;}
}
@keyframes bookCover {
  30% { z-index: 999 }
  100% {  transform: rotateY(-180deg);
    z-index: 1;}
}